body{
	margin:0;
	width: 100%;
}


.break1{
	position: relative;
	z-index: 1; 
	height: 2px; 
	background-color: gray;
	width:85%;
	margin:auto;
	top:26px;
}

.break2{
	position: relative;
	z-index: 1; 
	height: 3px; 
	background-color:red;
	margin:auto;
	width:85%;
	top:10px;
}


/* Nav Bar */
/* Nav Bar */
/* Nav Bar */

.main-nav{
	display: inline-block;
	position:fixed;
	z-index:3;
	width:100%;
}


#nav1{
	width:100%;
	display: flex;
	flex-direction: row;
	background:#d3d3d3;
	justify-content: flex-end;
}

#list1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-end;
}

#list1 li{
	list-style: none;
	margin-right:1rem;
}

#list1 a{
	color:#333;
	font-weight:bold;
	font-size: 13px;
	text-decoration: none;
}

#list1 a:hover{
	color:#fff;
	transition: 0.1s;
}

#nav2{
	position:fixed;
	z-index: 1;
	width:100%;
	display: flex;
	flex-direction: row;
	background:#fff;
	border-bottom: 0.3px rgba(239, 239, 239) solid;
	align-items: center;
	justify-content: center;
}

#nav2 #logo .fa-umbrella{
	color:red;
}


#list2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
}

#list2 li{
	list-style: none;
	margin-left:2rem;
}

/* Links [Port] */
#list2 li .port{
	position: relative;
	color:#000;
	font-weight: bold;
	font-family: Book Antiqua, serif;
	font-size: 18px;
	text-decoration: none;
	padding:2px;
}

#list2 .port:hover{
	font-weight: bold;
	color:#999;
}

#list2 .port::after{
	position:absolute;
	content:'';
	background-color: red;
	width:100%;	
	right:0;
	bottom:0;
	height:2px;
	transform:scaleX(0);
	transform-origin:left;
	transition: all 0.5s;
}

#list2 .port:hover::after{
	transform:scaleX(1);
}

.search-bx{
	background:#2f3640;
	height:40px;
	border-radius: 40px;
	padding: 10px;
	
	margin-left: 2em;
}

.search-bttn{
    color:#e22222;
    float:right;
    width: 40px;
    height:40px;
    border-radius: 50%;
    font-size: 18px;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-txt{
	border: none;
	background: none;
	outline:none;
	float:left;
	padding:0;
	color:white;
	font-size: 16px;
	transition: 0.5s;
	line-height: 40px;
	width:0px;
}


.search-bx:hover > .search-txt{
    width:230px;
}

#log{
	font-weight: bold;
	font-size: 19px;
	border: 2px red solid;
	padding:2px;
	text-align: center;
	border-radius: 5px;
	background-color: red;
	color:white;
	text-decoration: none;
	margin-left: 2rem;
	transition:0.5s;
}

#log:hover{
	border:2px rgb(245, 120, 120) solid;
}

.banner{
	text-align: center;
	position: absolute;
	top:30%;
	left:22%;
	color:#fff;
}

.gap .banner p{
	font-size: 2rem;
}

.gap::after{
	content: '';
    z-index: 1;
	background-image:url('../IMAGES/That Kube.jpg');
	height:70vh;
	width:100%;
	display: block;
}

/* Info */
/* Info */
/* Info */

.info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: red;
	padding:2rem;
}

.info label{
	color:white;
	font-size: 17px;
	font-weight: bold;
}

.form select{
	padding:3px;
	height: 39px;
	width:250px;
	margin-left: 3px;
	font-size: 19px;
	font-weight: bolder;
}

.form input{
	padding:3px;
	height: 29px;
	width:250px;
	margin-left: 3px;
	font-size: 19px;
	font-weight: bolder;
}

#start-bttn{
	padding:6px;
	background-color:#fff;
	border:none;
	outline: none;
	margin-top: 2px;
	cursor: pointer;
}

#start-bttn a{
	font-family: Courier, serif;
    font-weight: bolder;
    color:red;
    font-size: 19px;
    text-decoration: none;
}

#find{
	text-decoration: none;
	color:#fff;
	font-weight: bold;
	margin-left: 1.4em;
}

#find:hover{
	text-decoration: underline;
}

/* Info */
/* Info */
/* Info */

/* Section1 */
/* Section1 */

.division0{
	width:100%;
	background-color: #999;
}

.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:85%;
    margin:auto;  
}

.save{
	font-weight: bold;
	font-size: 19px;
	border: 2px red solid;
	padding:2px;
	text-align: center;
	border-radius: 5px;
	background-color: #fff;
	color:red;
	text-decoration: none;
	transition:0.5s;
	position: relative;
	top:9px;
}

.save:hover{
	border:2px rgb(245, 120, 120) solid;

}

img{
	float:left;
}

/* Section 1 */
/* Section 1 */

/* Card 1 */
/* Card 1 */

.division1{
	width:100%;
	background-color: #aaa;
}

.card1{
	position:relative;
	width:85%;
	margin:auto;
	margin-top: 3rem;
}

#pic1 img{
	width:100%;
}

.card1 #preamble1{
	position: absolute;
	box-sizing: border-box;
	text-align: center;
	background-color: white;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	padding:5px;
	top:3rem;
	font-weight: bolder;
}

#preamble1 p{
	font-family: Book Antiqua, serif;
	font-size: 26px;
	font-weight: bold;
	width:280px;
	color:gray;
}

#preamble1 h5{
	font-family: Book Antiqua, serif;
	color:gray;
	font-weight: bolder;
	font-size: 15px;
}

		/* Card 1 */
		/* Card 1 */

/* Logos */
/* Logos */

#logos{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-direction: wrap;
	justify-content: center;
	margin-top: 9px;
	top: 20px;
}

#logos div{
	color:black;
}

.logo{
	text-decoration: none;
	color:3px;
}

.logo:hover{
	text-decoration: underline;
	color:dodgerblue;
}

.logos div:hover{
	color:dodgerblue;
	text-decoration:underline;
}


#logos{
	margin:auto;
	width:85%;
}


#logos div{
	text-align: center;
	margin-left: 6px;
}

#logos div i{
	margin-left:3px;
	padding:40px;
	border:5px black solid;
	font-size: 60px;
	color:gray;
}

#logos div i:hover{
	border:5px dodgerblue solid;
}


/* Logos */
/* Logos */



		/* Card 2 */
		/* Card 2 */

.division2{
	position: relative;
	background-color:white;
	width:100%;
	height:130vh;
	display: flex;
	flex-direction: column;
	flex-direction: wrap;
	top:22px;

}

.card2{
	position:relative;
	width:85%;
	margin:auto;
	top:0px;
}

#pic2 img{
	width:100%;
}

.card2 #preamble2{
	position: absolute;
	box-sizing: border-box;
	background-color: white;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding:6px;
	left:76%;
	top:2em;
}

#preamble2 p{
	font-size: 26px;
	font-weight: bold;
	width:280px;
	color:gray;
	text-align: center;
}

#preamble2 h5{
	text-align: center;
	color:gray;
}

/* Logos 1 */

#logos1{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-direction: wrap;
	justify-content: center;
}

.logo{
	color:black;
}

#logos div:hover{
	color:dodgerblue;
	text-decoration:underline;
}


#logos1{
	margin:auto;
	width:85%;
}


#logos1 div{
	text-align: center;
	margin-left: 6px;
}

#logos1 div i{
	margin-left:3px;
	padding:40px;
	border:5px black solid;
	font-size: 60px;
	color:gray;
}

#logos1 div i:hover{
	border:5px dodgerblue solid;
}

/* Logos 1 */

/* Card 2 */
/* Card 2 */



/* Division3 */
/* Division3 */

.division3{
	background-color:#fff;
	width:100%;
	height:73vh;
	text-align: center;
}

.section3{
	width: 85%;
	margin:auto;
	display: block;
}

.title{
	text-align:center;
	color:gray;
	font-family: Book Antiqua, serif;
}

.category{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:5px;
	text-align: center;
}

.ico img{
	width: 100%;
}

.ico{
    color:dodgerblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #d3d3d3;
    overflow: hidden;
    font-family: Book Antiqua, serif;
    font-weight: bolder;
    font-size: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Division3 */
/* Division3 */

/*  Background */
.background{
	position: relative;
	background:none;
	color:white;
	font-family: Book Antiqua, serif;
	text-align: center;
}

.background .caption{
	position: absolute;
	z-index: 1;
	top:13rem;
	left:21rem;
}

.background p{
	font-size: 33px;
	font-weight: bolder;
}

.background::after{
   content:'';
   position:absolute;
   background-image: url('../IMAGES/chicago_skyscrapers.jpg');
   width:100%;
   height:90vh;
   display: block;
   top:2rem;
}

/* Background */
/* Background */



/* Division4 */
/* Division 4 */


.division4{
	position: relative;
	width: 100%;
	background-color: azure;
	font-family: Book Antiqua, serif;
	z-index: 1;
	top:34rem;
}

.section4{
	width:85%;
	margin:auto;
}

.sorted{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.sorted img{
	width: 20%;
	border-radius: 49%;
	transform: translateX(9em);
	background-color:#fff;
	margin-bottom: 10px;
	padding:2px;



}

.function{
	position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    bottom:40px;
}

.function:nth-child(2){
	bottom:44px;
}

.caption{
	font-size: 27px;
    font-weight: bolder;
    font-family: Book Antiqua, serif;
}

.caption span{
	color:red;
	font-weight: bolder;
	font-size: 29px;
}


.caption p span{
	color:red;
}

/* Division 4 */
/* Division 4 */


/* Section 5 */
/* Section 5 */

.division5{
	position: relative;
	background-color:#fff;
	width:100%;
	height:130vh;
	display: flex;
	flex-direction: column;
	flex-direction: wrap;
	top:25rem;
}

.section5{
	position:relative;
	width:85%;
	margin:auto;
}

#pic3 img{
	width:100%;
}

.section5 #preamble3{
	position: absolute;
	box-sizing: border-box;
	background-color: white;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	text-align: center;
	padding:2px;
	top:4.4rem;
}

#preamble3 h4{
	color:gray;
}


#preamble3 p{
	font-family:Book Antiqua, serif;
	font-size: 34px;
	font-weight: bolder;
	width:280px;
	color:gray;
	text-align: center;
}

/* Division 6 */
/* Division 6 */

.division6{
	width:100%;
	position: relative;
	z-index: 2;
	text-align: center;
	top:20rem;
	height:80vh;
	background-color: rgb(230, 230, 230);
}

.section6{
	position: relative;
	display: block;
	width:85%;
	margin:auto;
	top:2rem;
}

.title2{
	color:gray;
}

.title2 h1{
	font-weight: normal;
}

.category1{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:5px;
	text-align: center;
}

.ico1 img{
	width: 100%;
}

.ico1{
    color:#4070ff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    overflow: hidden;
    font-family: Book Antiqua, serif;
    font-weight: bold;
    font-size: 20px;

	display: flex;
	flex-direction: column;
}

.save1{
	position: relative;
	font-weight: bold;
	font-size: 19px;
	border: 2px red solid;
	padding:1px;
	text-align: center;
	border-radius: 5px;
	background-color: #fff;
	color:red;
	text-decoration: none;
	transition:0.5s;
	top:-0.8rem;
	width:8rem;
}

.save1:hover{
	border:2px rgb(245, 120, 120) solid;
}

/* Division 6 */
/* Division 6 */

/* Division 7 */
/* Division 7 */

.division7{
	width:100%;
	position: relative;
	z-index: 2;
	text-align: center;
	top:20rem;
	height:80vh;
}

.section7{
	position: relative;
	display: block;
	width:85%;
	margin:auto;
	top:2rem;
}

.title2{
	color:gray;
}

.title2 h1{
	font-weight: normal;
}

.category2{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:5px;
	text-align: center;
}



.ico2{
    color:black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    font-family: Book Antiqua, serif;
    font-weight: bold;
    font-size: 18px;

	display: flex;
	flex-direction: column;
}

.ico2 h3{
	font-weight: bold;
}

.ico2 p .port1{
	font-size: 15px;
	font-weight: bold;
	color:#4070ff;
	text-decoration: none;
}

.ico2 p .port1:hover{
	text-decoration: underline;
	color:red;
}

.ico2 i{
	font-size: 3.9rem;
	color:gray;
}

.save2{
	position: relative;
	font-weight: bold;
	font-size: 22px;
	border: 2px red solid;
	padding:9px;
	text-align: center;
	border-radius: 5px;
	background-color: #fff;
	color:red;
	text-decoration: none;
	transition:0.5s;
	top:-2rem;
}

.save2:hover{
	border:2px rgb(245, 120, 120) solid;
}

/* Division 7 */
/* Division 7 */



        /* Footer */
       /* Footer */

.footer{
	width:100%;
	margin-top: 3em;
	padding:0px 0px;
	border: 0.9px gray solid;
	background-color:#d3d3d3;
}

.section8{
	display: block;
	width:100%;
	text-align: left;
	width:85%;
	margin:auto;
}

/* Row-1 */

.row-1{
	display: inline-flex;
	flex-direction: row;
	flex-direction: wrap;
	justify-content: center;
	align-items: center;

}

.copyright .fa-umbrella{
	color:red;
}

.copyright p{
	font-size: 13px;
	font-weight:bold;
	font-family: Book Antiqua, serif;

}

.social{
	display:inline-flex;
}

.social .fab{
	font-size: 1.8rem;
	margin-left: 1.8rem;
}

/* Row-1 */

/* Row-2 */

.row-2{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.item h3{
	text-align: left;
}

.item1 ul li{
	list-style: none;
	text-align: left;
}

.item1 ul li a{
	text-decoration: none;
	color:rgb(61, 96, 186);
	font-weight: bold;
	font-family: Book Antiqua,serif;
}

.item1 ul li a:hover{
	text-decoration: underline;
}

/* Row-2 */

/* Extra */

.extra{
	color:gray;
	font-weight: normal;
}

			/* Footer */
			/* Footer */
